<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>

  <body>

    <header>
      <%- include('../partials/header') %>
    </header>

    <main>
      <h1>About</h2>
    </main>

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>

</html>