<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>

  <body>
    <header>
      <%- include('../partials/header') %>
    </header>

    <div class="wrapper">
      <main>
        <div class="table-contents">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Region</th>
                <th>Capital</th>
                <th>Population</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <div class="pagination">
            <div class="pages"></div>
          </div>
        </div>
      </main>
    </div>

    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script src="/js/countries.js" type="module"></script>
  </body>

</html>